MESSAGE=uma mensagem qualquer que irá aparecer no console do servidor
DATABASE_URL=postgresql://neondb_owner:npg_6rlMVLy9zEDh@ep-royal-queen-acs1d0l3-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ERASE_DATABASE_ON_SYNC=false
